rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function active() { return request.auth != null && (!exists(/databases/(default)/documents/students/$(request.auth.uid)) || get(/databases/(default)/documents/students/$(request.auth.uid)).data.isBlacklisted != true); }
    match /teamPosts/{groupId}/{userId}/{fileName} { allow read: if active(); allow write: if active() && request.auth.uid == userId && request.resource.size < 8 * 1024 * 1024 && request.resource.contentType.matches('image/.*'); }
    match /meetingAttachments/{fileName} { allow read: if active(); allow write: if active() && request.resource.size < 20 * 1024 * 1024; }
  }
}
